<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="description"
    content="CSE 340 App - A simple web application showcasing a fictional car dealership specializing in DeLoreans."
  />
  <meta
    name="keywords"
    content="CSE 340, DeLorean cars that can serve you better, car dealership, web application"
  />
  <meta name="author" content="Chukwuebuka Ibeh" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&amp;display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/styles.css" media="screen" />
  <link rel="stylesheet" href="/css/invType.css" media="screen" />
  <link rel="stylesheet" href="/css/invDetail.css" media="screen" />
  <link rel="stylesheet" href="/css/update-account.css" media="screen" />
  <link
    rel="stylesheet"
    href="/css/addClassificationInventory.css"
    media="screen"
  />
  <link rel="stylesheet" href="/css/signupLogin.css" media="screen" />

  <script src="/js/script.js" defer></script>
  <script src="/js/acct-update-clientside-validate.js" defer></script>
  <script src="/js/login-clientside-validate.js" defer></script>
  <script src="/js/signup-clientside-validate.js" defer></script>
  <title><%- title %> | CSE 340 App</title>
</head>
